body {
  box-sizing: border-box;
  margin: 5px;
}
.header-img {
  height: 80px;
  width: 80px;
  box-sizing: border-box;
}
.header-component {
  display: flex;
  align-items: center;
  border: 1px solid #cccc;
  justify-content: space-between;
  padding: 2px 8px;
}
.header-nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
  justify-content: flex-end;
}
.header-nav > ul > li {
  font-size: 18px;
  padding: 8px;
  font-weight: bold;
  color: blue;
}
.header-nav > ul > li:hover {
  color: white;
  cursor: pointer;
  background-color: darkblue;
  border-radius: 8px;
  transition: ease 0.1s;
}
.body-content {
  margin: 10px auto;
}
.body-content > .input-bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 4px;
  margin: 5px auto;
}
.body-content > .input-bars > .search-input {
  box-sizing: border-box;
  width: 30%;
  padding: 12px 16px;
  outline: none;
  border: 1px solid #cccc;
  border-radius: 8px;
  font-size: 16px;
}
.body-content > .input-bars > .search-top-btn {
  box-sizing: border-box;
  width: 30%;
  padding: 12px 16px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
.body-content > .input-bars > .search-top-btn:hover {
  background-color: darkblue;
  cursor: pointer;
}
.restaurant-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 4px;
}

.restaurant-card {
  padding: 4px;
  outline: 1px solid #cccc;
  border-radius: 5px;
}
.restaurant-card:hover {
  outline: 2px solid #cccc;
  box-shadow: 2px 1px 15px 5px #0003;
  cursor: pointer;
}

.restaurant-card > .restaurant-header > .restaurant-img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #cccc;
  height: 280px;
}
.restaurant-card > .restaurant-body {
  padding: 0px 8px;
}

/* .restaurant-card > .restaurant-body > h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 0;
  max-width: 120px;
}

.restaurant-card:hover > .restaurant-body > h2 {
  white-space: normal;
  overflow: visible;
  max-width: none;
}  */

.restaurant-card > .restaurant-body > p {
  font-weight: 500;
  font-size: 18px;
}
.restaurant-card > .shimmer-body > h2 {
  height: 54px;
}

.restaurant-card > .restaurant-footer {
  color: #474747cc;
  font-size: 18px;
  padding: 0px 8px;
}

.header-component > .header-nav > ul > .login-btn {
  box-sizing: border-box;
  padding: 8px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.header-component > .header-nav > ul > .login-btn:hover { 
  background-color: darkblue; 
}

/* Tablet: 2 columns */
@media (max-width: 1024px) {
  .restaurant-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile: 1 column */
@media (max-width: 768px) {
  .restaurant-container {
    grid-template-columns: 1fr;
  }
}

/* shimmers */
.shimmer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 4px;
}

.shimmer-card {
  padding: 4px;
  outline: 1px solid #cccc;
  border-radius: 5px;
}
.shimmer-card:hover {
  outline: 2px solid #cccc;
  box-shadow: 2px 1px 15px 5px #0003;
  cursor: pointer;
}

.shimmer-card > .shimmer-header > .shimmer-img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #cccc;
  height: 280px;
  background-color: #cccc;
}
.shimmer-card > .shimmer-body {
  padding: 0px 8px;
}

.shimmer-card > .shimmer-body > p {
  font-weight: 500;
  background-color: #cccc;
  font-size: 18px;
}

.shimmer-card > .shimmer-body > h2 {
  background-color: #cccc;
  height: 54px;
}
.shimmer-card > .shimmer-footer {
  color: #474747cc;
  font-size: 18px;
  padding: 0px 8px;
  background-color: #cccc;
}
/* Tablet: 2 columns */
@media (max-width: 1024px) {
  .shimmer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile: 1 column */
@media (max-width: 768px) {
  .shimmer-container {
    grid-template-columns: 1fr;
  }
}
/* shimmers */
